@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&family=Open+Sans:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&family=Open+Sans:wght@300;400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --primary-color: #36054F;
    --secondary-color: #160C52;
    --dark-purple: #1E002D;
    --dark-blue: #07012E;
    --purple: #592a71;
    --blue: #3B3176;
    --light-purple: #836294;
    --light-blue: #716A9A;
    /* --linear-gradient: linear-gradient(180deg, rgba(54, 5, 79, 0) 0%, rgba(89, 42, 113, 0.333649) 25%, rgba(54, 5, 79, 0.640631) 50%, rgba(59, 49, 118, 0.809092) 76.04%, #07012E 99.48%); */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(7,1,46);
    background-image: linear-gradient(0deg, rgba(7,1,46,1) 0%, rgba(59,49,118,1) 25%, rgba(54,5,79,1) 50%, rgba(89,42,113,1) 75%, rgba(54,5,79,1) 100%);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    color: white;
}

header{
    height: 75px;
    background-color: #36054F;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img{
width: 50px;
border-radius: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    margin: 50px;
    text-align: center;
}

main img {
    max-width: 300px;
    border-radius: 20px;
}

main p {
    margin: 30px;
    text-align: center;
}

.card-customers-number {
    height: 100px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    background-color: white;
    color: black;
    border-radius: 20px;

}

.icon-customers {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

.number-customers {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.icon-customers i {
    width: 100%;
}


.card-customers-opinion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    background-color: white;
    padding: 1em;
    margin: 1em;
    width: 25vh;
}